$red: #E85F88;
$dark-red: #D02357;

$light-green: #CCE0C3;
$green: #76B85C;
$dark-green: #42752E;

$light-blue: #BDCDDB;
$blue: #225683;
$dark-blue: #222233;

$purple: #8F56A6;
$gold: #FFD700;

$light-gray: #EFEFEF;
$button-gray: #CED1DE;
$dark-gray: #323033;
$gray: #898B96;

$white: #ffffff;
$black: #000000;

/* general */
body{
    /* can break some sites' layouts */
    margin: 0;
}

body.foraging {
    margin-bottom: 350px;
}

/* Interface */
#forager{
    word-wrap: normal;
    z-index: 2147483637;
    position: fixed;
    left: 0;
    bottom: 0;
    min-width: 700px;
    min-height: 30px;
    background: $dark-blue;
    font-size: 16px;
    font-family: sans-serif;
    color: $black;
    text-align: left;
    border: 10px solid $dark-blue;
    box-sizing: border-box;

    &.hidden {
        display: none !important;
    }

    * {
        color: $black;
        box-sizing: border-box;
        line-height: 1.1em !important;
    }

    .not-allowed{
        cursor: no-drop;

        * {
            cursor: no-drop;
        }
    }

    .inline{
        display: inline-block;
    }

    .hidden{
        display: none !important;
    }

    /*
     * input elements are the source of the biggest style
     * issues, so !important is used quite liberally
     */

    input, select, option, textarea, button {
        line-height: 1.1em !important;
        padding: 0 !important;
        margin: 0 !important;
        font-size: 1em !important;
        float: none !important;
        color: $black !important;
    }

    label{
        cursor: pointer;
        font-weight: normal;
    }
    
    input{
        box-shadow: none;
        border-radius:0;
        background: $white;
        border: 1px solid $dark-gray;
        line-height: 1.2;
    }

    input[type=text]{
        height: 20px;
        max-height: 20px;
        min-height: 20px;
        padding: 2px;
        font-family: sans-serif;
        border-style: solid;
        border-color: $dark-gray;
        border-width: 0 0 1px 0;
    }

    select {
        display: inline-block !important;
        border: 1px solid #a9a9a9 !important;
        background: $white !important;
        margin: 2px !important;
    }

    button {
        text-align: center;
        background: $button-gray;
        color: $black !important;
        font-weight: normal !important;
        text-transform: capitalize !important;

        border-radius: 0px;
        border-width: 0 0 4px 0;
        border-style: solid;
        border-color: $dark-gray;
        box-shadow: none !important;

        cursor: pointer !important;
        margin: 2px !important;
        padding: 3px 6px !important;
        
        min-width: initial !important;

        &:hover, &:active, &:focus{
            border-color: $gray;
            color: $black !important;
        }

        /*
         * some classes to customize the look of buttons
         */
        &.transparent {
            background: transparent !important;
            border: 0 !important;
            font-weight: bold !important;

            &:hover {
                background: transparent !important;            
            }
        }

        &.neg {
            border-color: $dark-red !important;

            &:hover, &:active, &:focus {
                border-color: $red !important;   
            }
        }

        &.pos {
            border-color: $dark-green !important;

            &:hover, &:active, &:focus {
                border-color: $green !important;   
            }
        }


        &.neg.transparent {
            background: transparent !important;
            color: $dark-red !important;

            &:hover , &:active, &:focus {
                color: $red !important;
            }
        }
    }

    .big {
        font-size: 1.1em;
    }

    .bold {
        font-weight: bold;
    }

    ul{
        list-style: none;

        li {
            margin: 0;
        }
    }

    h1, h2, h3, h4, h5, h6, p {
        margin: 2px 0;
        padding: 0
    }

    h1 {
        font-size: 1.5em;
    }

    h2 {
        font-size: 1.25em;
    }

    h3 {
        font-size: 1.2em;
    }

    h4, h5, h6 {
        font-size: 1.1em;
    }

    .topbar{
        min-height: 31px;
        margin-bottom: 10px;
        min-width: 650px;

        span {
            color: $light-gray
        }

        .controls {
            display: flex;
        }

        .message {
            color: $red;
            margin: 0;
            padding: 0;
        }

        button{
            display: inline-block;
            line-height: 1.25em !important;
            border-radius: 3px;
            border-width: 1px;
            border-style: solid;
            
            background: $dark-blue !important;

            &.pos, &.pos:active, &.pos:focus {
                color: $green !important;
                border-color: $green !important;
                background: $dark-blue !important;
            }

            &.pos:hover {
                background: $green !important;
                color: $dark-blue !important;
            }

            &.neg, &.neg:active, &.neg:focus{
                border-color: $red !important;
                color: $red !important;
                background: $dark-blue !important;
            }

            &.neg:hover {
                background: $red !important;
                color: $dark-blue !important;            
            }

        }

        button:active{
            border-style: inset !important;
            color: $black !important;
        }

        select{
            width: 100px;
            min-height: 22px;
            height: 22px;
            border-radius: 2px;
        }
    }

    .workspace {
        display: flex;
    }

    .frames, .graph {
        background: $white;
        box-sizing: border-box;
        margin-right: 3px;
        padding: 5px;
    }

    .graph {
        min-width: 500px;
        min-height: 150px;

        svg {
            box-sizing: content-box;
            font-size: 14px;
            background: $white;

            .link {
              fill: none;
              stroke: $dark-gray;
            }

            .node{
                cursor: pointer;
                fill: $dark-green;
            }

            .empty{
                fill: $red;
            }

            .node text {
                paint-order: stroke;
                stroke: $white;
                stroke-width: 3px;
                text-anchor: middle;
                font-weight: bold;
                fill: inherit;
            }

            .current{
                font-style: italic;
                fill: $dark-gray;
            }
        }
    }

    .frames {
        width: 400px;
        vertical-align: top;

        .frame {
            text-align: left;
            width: 100%;
            background: $white;
            padding: 5px;
            display: flex;
            flex-direction: column;

            /*
             * frames are broken down into two parts, the .info section and
             * the .buttons section
             */
            .info {

                > * {
                    padding: 2px 0;
                }

                .line {
                    padding: 2px 0;
                }

                label {
                    margin-right: 5px;
                }
            }

            .buttons {
                margin-top: 5px;
                display: flex;

                button {
                    flex-grow: 1;
                }
            }

            ul {
                padding: 0;
                overflow-wrap: break-word;
            }

            li {
                min-height: 1.5em;
            }

            .element-attributes {
                padding: 5px;
                margin-top: 5px;
            }

            .choices {
                display: flex;
                flex-wrap: wrap;

                label {
                    margin-right: 15px;
                    padding: 2px 3px;
                    border-radius: 3px;
                    word-break: break-all;
                }

                label.selected {
                    background: $green;
                }
            }
        }

        .buttons {
            margin: 5px 0;
        }

        .rules {
            margin: 5px 0;

            .rule {
                height: inherit;
                line-height: 1.1em;
                > * {
                    margin: 0 3px;
                }
            }
        }

        .rule-name {
            font-weight: bold;
        }

        .rule-attr, .rule-type {
            font-size: 0.9em;
            padding: 2px;
            border: 1px solid $black;
        }

        .rule-attr {
            color: $blue;
            background: $light-blue;
            border-color: $blue;
        }

        .rule-type {
            color: $dark-green;
            background: $light-green;
            border-color: $dark-green;
        }
    }

    .page-controls {
        display: inline-block;
    }

    .app-controls {
        display: inline-block;
        /* this pushes the .app-controls to the right edge */
        margin-left: auto;
        
        button {
            color: $white !important;
            margin: 0 !important;

            &:hover {
                background: $black !important;
            }
        }
    }

}

.preview-holder {
    z-index: 2147483638;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    .preview-bg {
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.2);
        cursor: pointer;
    }

    .preview {
        position: absolute;
        left: 10%;
        top: 10%;
        width: 80%;
        height: 80%;
        background: $white;
        padding: 15px;
        border: 1px solid $dark-gray;
        font-size: 16px;
        font-family: sans-serif;

        pre {
            width: 100%;
            max-height: 90%;
            overflow: scroll;
            margin: 1em 0;
            padding: 5px;
            border-style: inset;
            border-color: $black;
            border-width: 1px;
            border-left: 10px solid $dark-blue;
            background: $light-gray;
        }

    }
}

.options-modal {
    color: $dark-gray;

    h2 {
        margin: 5px 0;
        font-size: 1.25em;
    }
    h3 {
        margin: 5px 0;
        font-size: 1.1em;
    }

    .note {
        font-style: italic;
        font-size: 0.9em;
        margin: 3px 0;
    }

    label {
        font-weight: normal;
        margin-right: 25px;

        input[type=checkbox]{
            margin-left: 5px;
        }
    }
}

@import 'page';
