/* general */
body {
  /* can break some sites' layouts */
  margin: 0; }

body.foraging {
  margin-bottom: 350px; }

/* Interface */
#forager {
  word-wrap: normal;
  z-index: 2147483637;
  position: fixed;
  left: 0;
  bottom: 0;
  min-width: 700px;
  min-height: 30px;
  background: #222233;
  font-size: 16px;
  font-family: sans-serif;
  color: #000000;
  text-align: left;
  border: 10px solid #222233;
  box-sizing: border-box;
  /*
     * input elements are the source of the biggest style
     * issues, so !important is used quite liberally
     */ }
  #forager.hidden {
    display: none !important; }
  #forager * {
    color: #000000;
    box-sizing: border-box;
    line-height: 1.1em !important; }
  #forager .not-allowed {
    cursor: no-drop; }
    #forager .not-allowed * {
      cursor: no-drop; }
  #forager .inline {
    display: inline-block; }
  #forager .hidden {
    display: none !important; }
  #forager input, #forager select, #forager option, #forager textarea, #forager button {
    line-height: 1.1em !important;
    padding: 0 !important;
    margin: 0 !important;
    font-size: 1em !important;
    float: none !important;
    color: #000000 !important; }
  #forager label {
    cursor: pointer;
    font-weight: normal; }
  #forager input {
    box-shadow: none;
    border-radius: 0;
    background: #ffffff;
    border: 1px solid #323033;
    line-height: 1.2; }
  #forager input[type=text] {
    height: 20px;
    max-height: 20px;
    min-height: 20px;
    padding: 2px;
    font-family: sans-serif;
    border-style: solid;
    border-color: #323033;
    border-width: 0 0 1px 0; }
  #forager select {
    display: inline-block !important;
    border: 1px solid #a9a9a9 !important;
    background: #ffffff !important;
    margin: 2px !important; }
  #forager button {
    text-align: center;
    background: #CED1DE;
    color: #000000 !important;
    font-weight: normal !important;
    text-transform: capitalize !important;
    border-radius: 0px;
    border-width: 0 0 4px 0;
    border-style: solid;
    border-color: #323033;
    box-shadow: none !important;
    cursor: pointer !important;
    margin: 2px !important;
    padding: 3px 6px !important;
    min-width: initial !important;
    /*
         * some classes to customize the look of buttons
         */ }
    #forager button:hover, #forager button:active, #forager button:focus {
      border-color: #898B96;
      color: #000000 !important; }
    #forager button.transparent {
      background: transparent !important;
      border: 0 !important;
      font-weight: bold !important; }
      #forager button.transparent:hover {
        background: transparent !important; }
    #forager button.neg {
      border-color: #D02357 !important; }
      #forager button.neg:hover, #forager button.neg:active, #forager button.neg:focus {
        border-color: #E85F88 !important; }
    #forager button.pos {
      border-color: #42752E !important; }
      #forager button.pos:hover, #forager button.pos:active, #forager button.pos:focus {
        border-color: #76B85C !important; }
    #forager button.neg.transparent {
      background: transparent !important;
      color: #D02357 !important; }
      #forager button.neg.transparent:hover, #forager button.neg.transparent:active, #forager button.neg.transparent:focus {
        color: #E85F88 !important; }
  #forager .big {
    font-size: 1.1em; }
  #forager .bold {
    font-weight: bold; }
  #forager ul {
    list-style: none; }
    #forager ul li {
      margin: 0; }
  #forager h1, #forager h2, #forager h3, #forager h4, #forager h5, #forager h6, #forager p {
    margin: 2px 0;
    padding: 0; }
  #forager h1 {
    font-size: 1.5em; }
  #forager h2 {
    font-size: 1.25em; }
  #forager h3 {
    font-size: 1.2em; }
  #forager h4, #forager h5, #forager h6 {
    font-size: 1.1em; }
  #forager .topbar {
    min-height: 31px;
    margin-bottom: 10px;
    min-width: 650px; }
    #forager .topbar span {
      color: #EFEFEF; }
    #forager .topbar .controls {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
    #forager .topbar .message {
      color: #E85F88;
      margin: 0;
      padding: 0; }
    #forager .topbar button {
      display: inline-block;
      line-height: 1.25em !important;
      border-radius: 3px;
      border-width: 1px;
      border-style: solid;
      background: #222233 !important; }
      #forager .topbar button.pos, #forager .topbar button.pos:active, #forager .topbar button.pos:focus {
        color: #76B85C !important;
        border-color: #76B85C !important;
        background: #222233 !important; }
      #forager .topbar button.pos:hover {
        background: #76B85C !important;
        color: #222233 !important; }
      #forager .topbar button.neg, #forager .topbar button.neg:active, #forager .topbar button.neg:focus {
        border-color: #E85F88 !important;
        color: #E85F88 !important;
        background: #222233 !important; }
      #forager .topbar button.neg:hover {
        background: #E85F88 !important;
        color: #222233 !important; }
    #forager .topbar button:active {
      border-style: inset !important;
      color: #000000 !important; }
    #forager .topbar select {
      width: 100px;
      min-height: 22px;
      height: 22px;
      border-radius: 2px; }
  #forager .workspace {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  #forager .frames, #forager .graph {
    background: #ffffff;
    box-sizing: border-box;
    margin-right: 3px;
    padding: 5px; }
  #forager .graph {
    min-width: 500px;
    min-height: 150px; }
    #forager .graph svg {
      box-sizing: content-box;
      font-size: 14px;
      background: #ffffff; }
      #forager .graph svg .link {
        fill: none;
        stroke: #323033; }
      #forager .graph svg .node {
        cursor: pointer;
        fill: #42752E; }
      #forager .graph svg .empty {
        fill: #E85F88; }
      #forager .graph svg .node text {
        paint-order: stroke;
        stroke: #ffffff;
        stroke-width: 3px;
        text-anchor: middle;
        font-weight: bold;
        fill: inherit; }
      #forager .graph svg .current {
        font-style: italic;
        fill: #323033; }
  #forager .frames {
    width: 400px;
    vertical-align: top; }
    #forager .frames .frame {
      text-align: left;
      width: 100%;
      background: #ffffff;
      padding: 5px;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      /*
             * frames are broken down into two parts, the .info section and
             * the .buttons section
             */ }
      #forager .frames .frame .info > * {
        padding: 2px 0; }
      #forager .frames .frame .info .line {
        padding: 2px 0; }
      #forager .frames .frame .info label {
        margin-right: 5px; }
      #forager .frames .frame .buttons {
        margin-top: 5px;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex; }
        #forager .frames .frame .buttons button {
          -webkit-flex-grow: 1;
              -ms-flex-positive: 1;
                  flex-grow: 1; }
      #forager .frames .frame ul {
        padding: 0;
        overflow-wrap: break-word; }
      #forager .frames .frame li {
        min-height: 1.5em; }
      #forager .frames .frame .element-attributes {
        padding: 5px;
        margin-top: 5px; }
      #forager .frames .frame .choices {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap; }
        #forager .frames .frame .choices label {
          margin-right: 15px;
          padding: 2px 3px;
          border-radius: 3px;
          word-break: break-all; }
        #forager .frames .frame .choices label.selected {
          background: #76B85C; }
    #forager .frames .buttons {
      margin: 5px 0; }
    #forager .frames .rules {
      margin: 5px 0; }
      #forager .frames .rules .rule {
        height: inherit;
        line-height: 1.1em; }
        #forager .frames .rules .rule > * {
          margin: 0 3px; }
    #forager .frames .rule-name {
      font-weight: bold; }
    #forager .frames .rule-attr, #forager .frames .rule-type {
      font-size: 0.9em;
      padding: 2px;
      border: 1px solid #000000; }
    #forager .frames .rule-attr {
      color: #225683;
      background: #BDCDDB;
      border-color: #225683; }
    #forager .frames .rule-type {
      color: #42752E;
      background: #CCE0C3;
      border-color: #42752E; }
  #forager .page-controls {
    display: inline-block; }
  #forager .app-controls {
    display: inline-block;
    /* this pushes the .app-controls to the right edge */
    margin-left: auto; }
    #forager .app-controls button {
      color: #ffffff !important;
      margin: 0 !important; }
      #forager .app-controls button:hover {
        background: #000000 !important; }

.preview-holder {
  z-index: 2147483638;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh; }
  .preview-holder .preview-bg {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    cursor: pointer; }
  .preview-holder .preview {
    position: absolute;
    left: 10%;
    top: 10%;
    width: 80%;
    height: 80%;
    background: #ffffff;
    padding: 15px;
    border: 1px solid #323033;
    font-size: 16px;
    font-family: sans-serif; }
    .preview-holder .preview pre {
      width: 100%;
      max-height: 90%;
      overflow: scroll;
      margin: 1em 0;
      padding: 5px;
      border-style: inset;
      border-color: #000000;
      border-width: 1px;
      border-left: 10px solid #222233;
      background: #EFEFEF; }

.options-modal {
  color: #323033; }
  .options-modal h2 {
    margin: 5px 0;
    font-size: 1.25em; }
  .options-modal h3 {
    margin: 5px 0;
    font-size: 1.1em; }
  .options-modal .note {
    font-style: italic;
    font-size: 0.9em;
    margin: 3px 0; }
  .options-modal label {
    font-weight: normal;
    margin-right: 25px; }
    .options-modal label input[type=checkbox] {
      margin-left: 5px; }

/*
 * the selectable-element class is added to all children of the elements in the
 * current element's element array. This signifies that a new Element can be
 * created based on this html element.
 */
.selectable-element {
  box-shadow: inset 0 0 2px #1e0a3f !important; }

img.selectable-element {
  border: 1px dashed #1e0a3f !important; }

/*
 * the forager-highlight class is added while mousing over an element while
 * creating a element in the HTMLFrame
 */
.forager-highlight {
  background: rgba(46, 130, 158, 0.5) !important; }

img.forager-highlight {
  opacity: 0.25 !important; }

/*
 * While creating an element, the query-check class is applied to all elements
 * that match the element's css selector string (and are children of the current
 * element's elements)
 */
.query-check {
  background: rgba(255, 215, 0, 0.25) !important;
  box-shadow: inset 0 0 1px #FFD700; }

img.query-check, a.query-check > img {
  border: 1px solid rgba(255, 215, 0, 0.25) !important; }

/*
 * This class is added when hovering over a node in the page's tree chart. All
 * elements for the hovered node's elements will be given this class
 */
.saved-preview {
  background: rgba(255, 0, 0, 0.25) !important; }

img.saved-preview {
  border: 1px solid rgba(255, 0, 0, 0.25) !important; }

/*
 * This class is added to all elements of the current element
 */
.current-element {
  background: rgba(69, 175, 204, 0.25) !important; }

img.current-element {
  border: 1px dotted #225683 !important; }
